@model IEnumerable<HomeLibrary.Models.ReadBookViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParm"]">@Html.DisplayNameFor(model => model.Title)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.AuthorLastName)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @Html.HiddenFor(modelItem => item.BookId)
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { bookId = item.BookId }) |
                @Html.ActionLink("Details", "Details", new { bookId = item.BookId }) |
                @Html.ActionLink("Delete", "Delete", new { bookId = item.BookId })
            </td>
        </tr>
}
    </tbody>
</table>
